body {
	height: 100vh;
}

main {
	display: flex;
	overflow-y: auto;
}

header.main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

section.speakers, .listing.speakers {
	display: flex;
	flex-wrap: wrap;
}

section.speakers article, .listing.speakers figure {
	margin: 10px;
}

section.speakers {
	width: 70%;
}

section.talks {
	width: 30%;
}

.bio img {
	float: right;
}

aside img {
	float: left;
}

nav ul {
	display: flex;
}

@supports(grid-template-areas: '.') {
	body {
		display: grid;
		grid-template-columns: 200px 1fr;
		grid-template-rows: 100px 1fr 50px;
		height: 100vh;
	}
	
	main {
		grid-column: 1 / -1;
		display: grid;
		grid-template-columns: 2fr 1fr;
		overflow-y: auto;
	}

	.listing h1 {
		grid-column: 1 / -1;
	}

	section.speakers article, .listing.speakers figure {
		margin: 0;
	}

	section.speakers {
		width: 100%;
	}

	section.talks {
		width: 100%;
	}
	
	section.speakers, .listing.speakers {
		display: grid;
		grid-template-columns: repeat(auto-fill, 200px);
		grid-gap: 20px;
	}
	
	.speakers h2 {
		grid-column-start: 1;
		grid-column-end: -1;
	}

	header.main {
		grid-column: 1 / -1;
	}
	
	.content {
		display: grid;
		grid-template-columns: 1fr 300px;
		grid-template-rows: auto 1fr;
		grid-template-areas:
			'h 		🍺'
			'bio	🍺';
	}
	
	.content header {
		grid-row: 1;
		grid-column: 1;
		grid-area: h;
	}
	
	.content .bio {
		grid-area: bio;
	}
	
	.content aside {
		grid-area: 🍺;
	}

	footer {
		grid-column: 1 / -1;
	}
	
	.listing.talks {
		display: block;
	}
}