body {
	background: #ecfd83;
}

header {
	background: #c3fc80;
}

footer {
	background: #75fa7c;
}

main {
	background: #ecf5fc;
}

nav {
	background: #c5e5fc;
}

div {
	background: #7ad8fc;
}

p {
	background: #fee1da;
}

ul {
	background: #fdb1d9;
}

article {
	background: #fb84d6;
}

section {
	background: #7ecafa;
}

h1 {
	background: #88f994;
}

h2 {
	background: #f7e3f5;
}