{% include 'header.html' %}

<main>
	<section class="speakers">
		<h2>Speakers</h2>
		{% for speaker in collections.speakers %}
		<article>
			<figure>
				<img src="{{speaker.data.image}}" />
				<figcaption><a href="{{speaker.url | url}}">
						{{speaker.data.name}}
					</a></figcaption>
			</figure>
		</article>
		{% endfor %}
	</section>
	<section class="talks">
		<h2>Talks</h2>
		{% for talk in collections.talks %}
		<article>
			<a href="{{talk.url | url}}">
				{{talk.data.title}}
			</a>
		</article>
		{% endfor %}
	</section>
</main>

{% include 'footer.html' %}