{% include 'header.njk' %}
<div>
    {% for speaker in collections.speakers %}
        <div>
            <a>
                {{speaker.data.name}}
            </a>
        </div>
    {% endfor %}
</div>
<div>
    {% for talk in collections.talks %}
        <div>
            <a href="{{talk.url | url}}">
                {{talk.data.title}}
            </a>
        </div>
    {% endfor %}
</div>
{% include 'footer.njk' %}