{% include 'header.njk' %}
<div>
	{% for speaker in collections.speakers %}
		<div>
			<a href="{{speaker.url | url}}">
				{{speaker.data.name}}
			</a>
		</div>
	{% endfor %}
</div>
{% include 'footer.njk' %}