<div>
    <div>
        <a href="https://ndcoslo.com/page/tickets/">Tickets</a>
        <a href="https://ndcoslo.com/workshops/">Workshops</a>
        <a href="https://ndcoslo.com/agenda/">Agenda</a>
    </div>
</div>
</body>
</html>