<!DOCTYPE html>
<html lang="au">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
	<title>NDC Oslo</title>
	<link rel="stylesheet" href="/css/main.css" />
</head>

<body>
	<header class="main">
		<h1><a href="/">NDC Oslo</a></h1>
		<nav>
			<ul>
				<li><a href="/speakers">Speakers</a></li>
				<li><a href="/talks">Talks</a></li>
				<li><a href="/workshops">Workshops</a></li>
			</ul>
		</nav>
	</header>