@use '../variables.scss';

.week {
	display: grid;
	grid-template-areas:
		'date	days	days		days	days'
		'goals	days	days		days	days'
		'events	days	days		days	days'
		'work	work	personal	self	notes';
	grid-template-columns: repeat(2, 1fr) repeat(3, 2fr);
	grid-template-rows: repeat(4, auto);

	.date {
		grid-area: date;
	}

	.goals {
		grid-area: goals;
	}

	.events {
		grid-area: events;
	}

	.work {
		grid-area: work;
	}

	.personal {
		grid-area: personal;
	}

	.selfcare {
		grid-area: self;
	}

	.notes {
		grid-area: notes;
	}

	.days {
		grid-area: days;
	}
}
