$background: #F7F0EB;

$blue: #318CE7;
	$blue_dark_10: #050E17;
	$blue_dark_25: #0C233A;
	$blue_dark_50: #194674;
	$blue_dark_75: #2569AD;
	$blue_dark_90: #2C7ED0;

	$blue_light_10: #EAF4FD;
	$blue_light_25: #CCE2F9;
	$blue_light_50: #98C6F3;
	$blue_light_75: #65A9ED;
	$blue_light_90: #4698E9;


$darkpurple: #9440A0;
	$darkpurple_dark_10: #0F0610;
	$darkpurple_dark_25: #251028;
	$darkpurple_dark_50: #4A2050;
	$darkpurple_dark_75: #6F3078;
	$darkpurple_dark_90: #853A90;

	$darkpurple_light_10: #F4ECF6;
	$darkpurple_light_25: #E4CFE7;
	$darkpurple_light_50: #CAA0D0;
	$darkpurple_light_75: #AF70B8;
	$darkpurple_light_90: #9F53AA;

$green: #64AD66;
	$green_dark_10: #0A110A;
	$green_dark_25: #192B1A;
	$green_dark_50: #325733;
	$green_dark_75: #4B824D;
	$green_dark_90: #5A9C5C;

	$green_light_10: #F0F7F0;
	$green_light_25: #D8EBD9;
	$green_light_50: #B2D6B3;
	$green_light_75: #8BC28C;
	$green_light_90: #74B575;

$pink: #CB5699;
	$pink_dark_10: #14090F;
	$pink_dark_25: #331626;
	$pink_dark_50: #662B4D;
	$pink_dark_75: #984173;
	$pink_dark_90: #B74D8A;

	$pink_light_10: #FAEEF5;
	$pink_light_25: #F2D5E6;
	$pink_light_50: #E5ABCC;
	$pink_light_75: #D880B3;
	$pink_light_90: #D067A3;

$purple: #7561C1;
	$purple_dark_10: #0C0A13;
	$purple_dark_25: #1D1830;
	$purple_dark_50: #3B3161;
	$purple_dark_75: #584991;
	$purple_dark_90: #6957AE;

	$purple_light_10: #F1EFF9;
	$purple_light_25: #DDD8F0;
	$purple_light_50: #BAB0E0;
	$purple_light_75: #9889D1;
	$purple_light_90: #8371C7;

$red: #E53F51;
	$red_dark_10: #170608;
	$red_dark_25: #391014;
	$red_dark_50: #732029;
	$red_dark_75: #AC2F3D;
	$red_dark_90: #CE3949;
	
	$red_light_10: #FCECEE;
	$red_light_25: #F9CFD4;
	$red_light_50: #F29FA8;
	$red_light_75: #EC6F7D;
	$red_light_90: #E85262;

$yellow: #FFCE03;
	$yellow_dark_10: #1A1500;
	$yellow_dark_25: #403401;
	$yellow_dark_50: #806702;
	$yellow_dark_75: #BF9B02;
	$yellow_dark_90: #E6B903;

	$yellow_light_10: #FFFAE6;
	$yellow_light_25: #FFF3C0;
	$yellow_light_50: #FFE781;
	$yellow_light_75: #FFDA42;
	$yellow_light_90: #FFD31C;

$neutral: #000000;
	$neutral_light_10: #E6E6E6;
	$neutral_light_25: #BFBFBF;
	$neutral_light_50: #808080;
	$neutral_light_75: #404040;
	$neutral_light_90: #191919;

$font_code: 'Source Code Pro', monospace;
$font_main: Montserrat, sans-serif;