{% include 'header.html' %}

{% for speaker in collections.speakers %}
	<article>
		<a href="{{speaker.url | url}}">
			{{speaker.data.name}}
		</a>
	</article>
{% endfor %}

<article>
	<header>
		<h1>{{name}}</h1>
	</header>
	<div>{{content | safe}}</div>

	<aside>
		<h2>Talks</h2>
		<ul class="talks">
			{% for talk in collections.talks %}
				{% set speaker = page.url | replace('/speakers/', '') | replace('/', '') %}
				{% if speaker == talk.data.speaker %}
					<li>
						<a href="{{talk.url | url}}">
							{{talk.data.title}}
						</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</aside>
</article>

{% include 'footer.html' %}