{% include 'header.html' %}

<nav class="sidebar">
	<h2>All Speakers</h2>
	{% for speaker in collections.speakers %}
	<article>
		<a href="{{speaker.url | url}}">
			{{speaker.data.name}}
		</a>
	</article>
	{% endfor %}
</nav>

<article class="content">
	<header>
		<h1>{{name}}</h1>
	</header>
	<div class="bio">
		<img src="{{image}}" />
		{{content | safe}}
	</div>

	<aside>
		<h2>Talks</h2>
		<ul class="talks">
			{% for talk in collections.talks %}
			{% set speaker = page.url | replace('/speakers/', '') | replace('/', '') %}
			{% for talkSpeak in talk.data.speakers %}
			{% if speaker == talkSpeak %}
			<li>
				<a href="{{talk.url | url}}">
					{{talk.data.title}}
				</a>
			</li>
			{% endif %}
			{% endfor %}
			{% endfor %}
		</ul>
		<h2>Workshops</h2>
		<ul class="talks">
			{% for talk in collections.workshops %}
			{% set speaker = page.url | replace('/speakers/', '') | replace('/', '') %}
			{% for talkSpeak in talk.data.speakers %}
			{% if speaker == talkSpeak %}
			<li>
				<a href="{{talk.url | url}}">
					{{talk.data.title}}
				</a>
			</li>
			{% endif %}
			{% endfor %}
			{% endfor %}
		</ul>
	</aside>
</article>

{% include 'footer.html' %}