{% include 'header.html' %}

<nav class="sidebar">
	<h2>All Workshops</h2>
	{% for talk in collections.workshops %}
	<article>
		<a href="{{talk.url | url}}">
			{{talk.data.title}}
		</a>
	</article>
	{% endfor %}
</nav>

<article class="content">
	<header>
		<h1>{{title}}</h1>
	</header>
	<div>{{content | safe}}</div>
	<aside>
		<h2>Speaker</h2>
		<ul class="speakers">
			{% for speak in collections.speakers %}
			{% set speakerOpt = speak.url | replace('/speakers/', '') | replace('/', '') %}
			{% for talkSpeak in speakers %}
			{% if talkSpeak == speakerOpt %}
			<li>
				<img src="{{speak.data.image}}" />
				<a href="{{speak.url | url}}">
					{{speak.data.name}}
				</a>
				<div class="bio">
					{{speak.data.content | safe}}
				</div>
			</li>
			{% endif %}

			{% endfor %}
			{% endfor %}
		</ul>
	</aside>
</article>

{% include 'footer.html' %}